/* Container for the document editor */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.docview-title {
    margin-left: 40px;
}

/* Document name input */
input[type="text"] {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 50px;
    color: #0079FF;
    font-weight: bold;

}

.quill-container {
    margin: 2vh auto;
    /* Set top and bottom margins to 20% of viewport height */
    width: 60%;
    /* Set the width to 60% of the viewport width */
    height: 130vh;
    /* Set the height to 60% of the viewport height */
    position: relative;
    /* Set position to relative for height calculation */
    overflow: hidden;
    box-sizing: border-box;
}

.ql-container {
    /* Container might need to be a bit bigger to handle the padding */
    height: calc(100% + 20px);
    /* Adjust as necessary */
    overflow: hidden;
    /* To handle overflow due to padding */
}

/* Quill editor */
.ql-container .ql-editor {
    min-height: 0;
    /* Reset min-height */
    width: auto;
    /* Set width to 100% to fill the container */
    height: 100%;
    /* Set height to 100% to fill the container height */
    border: none;
    padding-top: 0;
    margin: 0 auto;
}

.toolbar-container {
    width: 100%;
    /* Full width */
    /* Rest of your styles for the toolbar */
}

.margin-sliders {
    background: #f8f8f8;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* to ensure it stays on top */
}

.margin-sliders label {
    margin-right: 20px;
}

.margin-sliders input[type='range'] {
    width: 200px;
    /* Adjust as necessary */
}


.button-container {
    margin-left: 40px;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    opacity: 0.8;
}

/* Save and exit button */
.save-exit-button {
    background-color: #007bff;
    color: white;
}

.save-exit-button:hover {
    background-color: #0056b3;
}

/* Save document button */
.save-button {
    background-color: #28a745;
    color: white;
}

.save-button:hover {
    background-color: #218838;
}

/* Delete document button */
.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}