/* Header.css */
.header {
    background-color: white;
    color: white;
    padding: 1rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
}

h1 {
    color: #0079FF;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-items a {
    margin-right: 1rem;
    text-decoration: none;
    color: #0079FF;
    font-weight: bold;
    transition: transform 0.3s ease;
    display: inline-block;
}

.nav-items a:hover {
    margin-right: 1rem;
    text-decoration: none;
    color: #0079FF;
    transform: scale(1.2) translate(-0%, -0%);
    font-weight: bold;
}

.nav-items a:visited {
    color: #0079FF;
}