h2 {
    color: #0079FF;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin: 50px;
    padding: 1rem;
    font-size: 55px;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.about-text {
    color: #777777;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    padding: 1rem;
    font-size: 20px;
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.contact-text {
    color: #777777;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 1rem;
    font-size: 20px;
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
.Help-text { 
    color: #777777;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 1rem;
    font-size: 20px;
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimation_bodytext {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
